body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    transition: background-image 0.5s;
}

.container {
    text-align: center;
    background: black;
    padding: 20px;
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 230px;
}

#timer,
#time {
    font-size: 48px;
    margin: 20px 0;
    color: white;
    margin-top: 30px;
}
.main__button {
    height: 35px;
}
.timer,
#time {
    height: 33px;
}
.main__button, 
.timer
 {
    width: 17%;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    font-family: font;
    font-size: 16px;
}

input::placeholder {
    color: white;
    opacity: 1; 
    text-align: center;
}


#seconds, 
.main__button {
    margin-left: 2%;
}


#timer {
    font-family: fontSB;
    font-size: 60px;
}


/* ВНЕШНИЙ ВИД */

.settings {
    font-family: fontM;
    font-size: 24px;
    color: white;
}

.settings-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.settings-panel {
    display: none; 
    position: absolute;
    top: 70px;
    right: 20px;
    background: black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 330px;
}

.second__button {
    
    height: 30px;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    font-family: fontM;
    font-size: 20px;
}
.second__button0 {
    width: 100%;
}
#close-settings {
    margin-left: 40px;
}
